@font-face {
  font-family: Sora;
  font-weight: 400;
  src: url("~/assets/fonts/Sora-Regular.ttf");
}

@font-face {
  font-family: Sora;
  font-weight: 600;
  src: url("~/assets/fonts/Sora-SemiBold.ttf");
}

@font-face {
  font-family: Sora;
  font-weight: 700;
  src: url("~/assets/fonts/Sora-Bold.ttf");
}
